<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TPLABO2.Properties.Settings.TP_LABO_2ConnectionString"
            connectionString="Data Source=JUANSANTACROCE\SQLEXPRESS;Initial Catalog=TP_LABO_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TPLABO2.Properties.Settings.TP_LABO_2ConnectionString1"
            connectionString="Data Source=DESKTOP-EEU1F57\SQLEXPRESS;Initial Catalog=TP_LABO_2;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>